.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 1;
  height: 100%;
  width: 87%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #c7cdcf;
}

.col-sm-3:hover .overlay {
  opacity: 0.8;
}

.read {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.save {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
a {
  text-decoration: none;
}
.sub-manga {
  text-align: center;
}
